.arrow {
  width: 30px;
  height: 30px;
  color: rgba(150, 186, 254, 0.51);
  transition: transform 0.15s ease-in-out;
}
.openedArrow {
  transform: rotate(180deg);
}
.projectItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 10px;
  border-radius: 13px;
  border: 1px solid rgba(150, 186, 254, 0.51);
  height: 43px;
  transition: height 0.15s ease-in-out;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .projectItem{
    padding: 5px 5px 5px 20px;
  }
}
.projectItem:hover {
  background-color: rgba(150, 186, 254, 0.51);
}
.openedInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projectItemHeader {
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  padding: 0 10px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.shortDescription {
  text-align: left;
}
.linkContainer {
  display: flex;
  gap: 10px;
}
.moreInfoButton {
  background-color: rgba(150, 186, 254, 0.51);
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.link {
  text-align: center;
  background-color: rgba(150, 186, 254, 0.51);
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;
}

.itemsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 8px;
  padding-left: 10px;
  row-gap: 4px;
  list-style: none;
  padding: 0;
  margin: 15px 40px 15px 40px;
}
@media (max-width: 1200px) {
  .itemsList{
    margin: 15px 0 15px 0;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  }
}
.listItem {
  line-height: 1.0;
  font-size: 18px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: left;
}
.listItem::before {
  padding-right: 10px;
}

.educationItemsContainer {
  width: 100%;
  padding: 10px;
}
@media (max-width: 1200px) {
  .educationItemsContainer{
    padding: 0;
  }
}