.basicCard {
  margin-top: 200px;
  background-image: url(../images/card-background2.jpg);
  background-position: center;
  border-radius: 15px;
  box-shadow: 5px 9px 20px 2px #313131;
  width: 450px;
  position: relative;
  margin-bottom: 50px;
}
.whiteback {
  border-radius: 15px;
  padding: 20px 20px 10px 20px;
  background-color: rgba(211, 211, 253, 0.51);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.name {
  font-size: 25px;
}
.profession {
  font-size: 12px;
}
.addressBlock {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.address {
  color: black;
  font-size: 16px;
  font-style: normal;
}
.addressLink {
  color: black;
  text-decoration: underline;
}
.dots {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 190px;
  left: 40px;
  cursor: pointer;
  transition: scale 100ms ease-in-out;
}
.dots:hover {
  scale: 1.3;
}
.microphone {
  position: absolute;
  top: 180px;
  right: 40px;
}
