.educationItem {
  margin-left: 20px;
  margin-bottom: 20px;
}
.periodTitle::before {
  padding-right: 10px;
}
.institution {
  margin: 0;
}

.degree {
  margin: 0;
}

.link {
  color: rgba(117, 153, 225, 0.91);
}
