.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1100px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #f5f7fa;
  border-radius: 15px;
  box-shadow: 0 5px 15px 0 rgba(27, 38, 94, 0.8);
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
  overflow: hidden;
  opacity: 1;
  pointer-events: auto;
  padding: 50px 100px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .profile {
    width: 350px;
    padding: 30px 15px 70px 15px;
    box-shadow: 0 5px 15px 0 rgba(27, 38, 94, 0.8);
  }
}

.profileBlock{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nameBlockTitle{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1200px) {

.nameBlockTitle{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
}
.mainDescriptionBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1200px) {
  .mainDescriptionBlock{
    gap:30px;
    flex-direction: column;
    align-items: center;
  }
}
.mainDescriptionBlockTitle{
  padding: 50px 0 50px 0;
}
@media (max-width: 1200px) {
  .mainDescriptionBlockTitle{
    padding: 0;
  }
}

.mainDescriptionBlockDescriptionFirst{
  font-size: 35px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .mainDescriptionBlockDescriptionFirst{
    margin-bottom: 20px;
    font-size: 25px;
    text-align: left;
  }
}
.mainDescriptionBlockDescriptionSecond{
  text-align: left;
  padding-left: 50px;
  font-size: 18px;
  font-style: italic;
}
.mainDescriptionBlockDescriptionThird{
  text-align: left;
  padding-left: 50px;
  font-size: 18px;
  font-style: italic;
}
@media (max-width: 1200px) {
  .mainDescriptionBlockDescriptionThird{
    padding-left: 30px;
  }
}
.mainDescriptionBlockDescriptionSpan{
  color: #764ba2;
}
.profileBlockTitle{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (max-width: 1200px) {
  .profileBlockTitle{
    justify-content: center;
  }
}
.profileBlockTitleText{
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(150, 186, 254, 0.51);
  border: 1px solid rgba(150, 186, 254, 0.51);
  max-width: 50%;
}
@media (max-width: 1200px) {
  .profileBlockTitleText{
    max-width: 100%;
  }
}
.controls {
  background-color: rgba(150, 186, 254, 0.51);
  width: 100%;
  border-radius: 20px;
  padding: 6px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .controls {
    margin-bottom: 0px;
  }
}
.dots {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
  transition: scale 100ms ease-in-out;
}
.dots:hover {
  scale: 1.3;
}

.firstBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profilePhoto {
  margin-top:30px;
  width: 150px;
  height: 150px;
  border-radius: 15px;
}
@media (max-width: 1200px) {
  .profilePhoto{
    margin-top: 0;
  }
}
.nameBlock {
  display: flex;
  flex-direction: column;
  gap: 90px;
  text-align: justify;
}
@media (max-width: 1200px) {
  .nameBlock{
    width: 320px;
    gap: 50px;
  }
}
.stringHeader {
  margin-top: 10px;
  font-weight: bold;
  width: 200px;
  text-align: left;
}
.stringData {
  margin-top: 10px;
  width: 500px;
}
@media (max-width: 1200px) {
  .stringHeader {
    width: 100%;
  }
}
.string {
  display: flex;
  width: 100%;
}
@media (max-width: 1200px) {
  .string {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .stringData {
    text-align: left;
    width: 100%;
  }
}

.table {
  width: 100%;
}

.projectsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projectItem {
  box-sizing: content-box;
  background-color: transparent;
  padding: 5px 15px;
  border-radius: 13px;
  text-decoration: underline;
}
@media (max-width: 1200px) {
  .projectItem {
    padding: 0px;
  }
}
.projectItem:hover {
  background-color: rgba(150, 186, 254, 0.51);
}
.contactInfo {
  display: flex;
  gap: 20px;
}
@media (max-width: 1200px) {
  .contactInfo{
    flex-direction: column;
    gap: 10px;
  }
}
.itemsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contactBlock{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
