.profile {
  flex-direction: column;
  justify-content: center;
  width: 900px;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #fff;
  border-radius: 15px;
  padding: 0px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.59);
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
  overflow: hidden;
  pointer-events: none;
  margin-bottom: 100px;
  display: flex;
  max-height: 1500px;
  opacity: 1;
  pointer-events: auto;
}
.profileCover {
  padding: 50px 100px;
  background-color: rgba(211, 211, 253, 0.51);
}
.dots {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: scale 100ms ease-in-out;
}
.dots:hover {
  scale: 1.3;
}

.firstBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profilePhoto {
  width: 150px;
  height: 200px;
  border-radius: 5%;
  margin-bottom: auto;
}
.nameBlock {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: justify;
}
.stringHeader {
  font-weight: bold;
  width: 150px;
}
.string {
  display: flex;
  width: 100%;
}
.table {
  width: 100%;
}

.projectsList {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10px;
}
.projectItem {
  box-sizing: content-box;
  background-color: transparent;
  padding: 5px 15px;
  border-radius: 13px;
  text-decoration: underline;
}
.projectItem:hover {
  background-color: rgba(150, 186, 254, 0.51);
}
