@import url(./BasicCard.module.css);

.projectCard {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 767px) {
  .projectCard {
    flex-direction: column;
  }
}
.experienceList {
  list-style: disc;
}

.experienceItem {
  margin-left: 20px;
}

.projectCardPreview {
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
  overflow: hidden;
}
.projectCardPreviewContainer {
  width: 45%;
}
@media (max-width: 767px) {
  .projectCardPreviewContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.projectCardTextContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projectCardName {
  margin: auto;
  margin-bottom: 20px;
}
